---
layout: archive
title: "Publications and Preprints"
permalink: /publications/
author_profile: true
---

{% assign pubs = site.publications %}

{% assign journal_pubs = pubs | where: "category", "manuscripts" %}
{% assign conference_pubs = pubs | where: "category", "conferences" %}
{% assign preprints = pubs | where: "category", "preprints" %}

{% if journal_pubs.size > 0 or conference_pubs.size > 0 %}
## Peer-reviewed Publications

{% for post in journal_pubs %}
{% include archive-single.html %}
{% endfor %}

{% for post in conference_pubs %}
{% include archive-single.html %}
{% endfor %}
{% endif %}

{% if preprints.size > 0 %}
## Preprints

{% for post in preprints %}
{% include archive-single.html %}
{% endfor %}
{% endif %}




